//Colors
//$second-color: #00cc99;
$primary-color: #01d1b2;//bulma
$second-color:#2c3e50;
$third-color:#cfcfce;
$text-color:#ffffff;
$text-size:7rem;

%container {
  width: 100%;
  padding: 1% 10%;
  overflow: auto;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%btn-second {
  padding: 10px 20px;
  background: $primary-color;
  color: $text-color;
  border-radius: 5px;
  font-weight: lighter;
  i {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
  }
}
%btn-second:hover {
  background: $second-color;
  color: $primary-color;
  i{
    margin-right: 14px;
  }
}
.hide-md {
  display: none;
}
@mixin property($family,$weight,$size,$line-height,$color){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  };
  line-height: $line-height;
  color: $color;
  margin-bottom:10px;
}

h1{@include property('Rancho',normal,$text-size,$text-size/2,$text-color);}
h2{@include property('Metrophobic',500,$text-size/2,2rem,$text-color);}
h3{@include property('Metrophobic',500,2.7rem,3rem,#424242);}
h4{@include property('Metrophobic',500,1.5rem,1.4rem,#424242);}
p{@include property('Roboto',normal,1rem,1.5rem,#414549);}
span{@include property('Roboto',normal,1rem,1.1rem,#5f6368);}
a{@include property('Roboto Mono',lighten,1rem,1.1rem,#5f6368);}
li{@include property('Roboto',500,1rem,.9rem,#414549);}
