//Colors
$primary-color: #01d1b2;//bulma
$second-color:#2c3e50;
$third-color:#cfcfce;
$text-color:#ffffff;
$text-size:5rem;

$light-primary: #BBDEFB;
$divider: #B6B6B6;
$error: #f44862;

$border: 2px;
$font-family: 'Metrophobic', Arial;

.bg-box {
  margin-bottom: 2rem;
  span {
    text-align: justify;
  }
}
.bg-primary-color {
  background: rgba(62, 214, 187,0.9);
}

.bg-second-color {
  background: rgba(62, 70, 101, 0.78);
}

//Placeholders
%container {
  width: 100%;
  padding: 5% 10%;
  overflow: auto;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%btn-second {
  padding: 10px 20px;
  background: $primary-color;
  color: $text-color;
  border-radius: 5px;
  font-weight: lighter;
  i {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
  }
}
%btn-second:hover {
  background: $second-color;
  color: $primary-color;
}
.hide-md {
  display: none;
}
@mixin property($family,$weight,$size,$line-height,$color){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  };
  line-height: $line-height;
  color: $color;
  margin-bottom:10px;
}

h1{@include property('Varela Round',600,$text-size,$text-size/2,$text-color);}
h2{@include property('Varela Round',500,$text-size - 1.5rem,2rem,$primary-color);}
h3{@include property('Varela Round',500,2.7rem,3rem,#424242);}
h4{@include property('Varela Round',400,1.5rem,1.4rem,$primary-color);}
p{@include property('Roboto',lighter,1.2rem,1.6rem,#414549);}
span{@include property('Roboto',normal,.9rem,1.5rem,$second-color);}
a{@include property('Metrophobic',lighten,1rem,1.1rem,#212121);}
label{@include property('Metrophobic',lighten,1rem,1.1rem,#212121);}
li{@include property('Roboto',500,1rem,.9rem,#414549);}
