@mixin property($family,$weight,$size,$line-height,$color){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  };
  line-height: $line-height;
  color: $color;
  margin-bottom:10px;
}

h1{@include property('Roboto',normal,36px,36px,#424242);}
h2{@include property('Roboto',normal,24px,32px,#424242);}
h3{@include property('Roboto',500,20px,28px,#424242);}
p{@include property('Roboto',normal,16px,24px,#414549);}
span{@include property('Roboto Mono',normal,16px,16px,#5f6368);}
li{@include property('Roboto',500,14px,14px,#414549);}