@import "variables";
@import 'reset';
@import "grid";
@import "directives";

//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(62, 70, 101, 0.78);
  width: 100%;
  &__logo img{
    width: 70px;
  }
  &__menu {
    @extend %flex;
    padding: 1% 5%;
    li {
      display: inline-block;
      padding: 7px 0;
      margin-left:8%;
    }
    a{
      color: #fff;
      font-weight: 400;
      font-size: 1.1rem;
    }
    li:hover{
      border-bottom: 4px solid $primary-color;
    }
  }
}

//Home
.home {
  background-attachment: fixed;
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;

  @extend %flex;
  flex-flow: column wrap;
  &__text {
    text-align: center;
    overflow: auto;
    padding-top: 60px;
    h1 {
      text-shadow: 5px 5px 15px $primary-color;
      margin-bottom: 70px;
    }
    h4 {
      color: $text-color;
    }
  }
}
.bg-code {
  background: url('../images/codeon.png');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
}
//About me
.aboutme {
  @extend %container;
  &__header {
    margin: 1.5rem 0 3rem 0;
    text-align: center;
    letter-spacing: 5px;
  }
  &__image {
    @extend %flex;
    img{
      width: 200px;
      border-radius: 50%;
    }
  }
  &__content {
    text-align: justify;
    img {
      width: 75px;
    }
    .accordion {
      clear:both;
      &__title {
        background-color: #2c3e50;
        color: #fff;
        cursor: pointer;
        padding: 14px;
        text-align: left;
        font-size: 14px;
        border: 1px solid #fff;
        transition: 0.4s;
        border-radius: 5px;
        &.open {
          background: $primary-color;
        }
        &.open:after {
          content:"-";
          font-size: x-large;
        }
      }
      &__title:after{
        content: '+';
        font-size: x-large;
        float: right;
        margin-left: 5px;
        &:hover {
          background: $primary-color;
        }
      }
      &__content {
        display: none;
        padding: 20px;
        border: 1px solid $primary-color;
        overflow: auto;
        transition: max-height 0.2s ease-out;
        border-radius: 5px;
      }
    }
  }
}

//Skills
.skills {
  @extend %container;
  margin-bottom: 5%;
  &__row {
    .box{
      height: 410px;
      border-radius: 20px;
      text-align: center;
      padding: 30px 14px 0 14px;
      margin-bottom: 20px;
      @include support(box-shadow, 8px 10px 14px -8px $second-color, moz webkit ms o);
      h5 {
        margin-bottom: 30px;
      }
      div{
        @extend %flex;
        flex-wrap: wrap;
        margin: 5px;
        div span{
          font-size: 14px;
        }
      }
    }
  }
  .size-icon{
    font-size: 50px;
    color: $second-color;
  }
}

//Portafolio
.portfolio {
  @extend %container;
  &__item {
    margin-bottom: 70px;
    .links{
      a {
        @extend %btn-second;
        color: $text-color;
      }
    }
  }
  .owl-carousel.owl-loaded {
    position: relative;
  }
  .owl-carousel .owl-item img {
    display: block;
    height:400px;
    margin: 0 auto;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $second-color;
  }
  .owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top:50%;
    color: $second-color;
    padding: 4px 10px;
    background: none;
    font-size: 2rem;
  }
  .owl-prev {
    left: -24px;
  }
  .owl-next {
    right: -24px;
  }
}

.contact{
    @extend %container;
    padding-bottom: 4%;
    background: url(../images/p6.png);
    background-repeat: repeat;
    overflow: auto;
    i {
      font-size: 2.5rem;
      padding: 5px;
      color: $second-color;
      &:hover {
        color: $primary-color;
      }
    }
    &__links{
      a{
        display: block;
        i {
          text-align: center;
          width: 4rem;
        }
      }
      .btn-cv{
        margin-top: 14px;
        .btn {
          @extend %btn-second;
          width: 200px;
          i {
            width: auto;
          }
        }
      }
    }
    &__form {
      margin: auto;
      .input-box{
        position: relative;
        margin-bottom: 32px;
        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          font-size: 16px;
          color: $second-color;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: $border solid $light-primary;
          &:focus,
          &:active{
            outline: none;
            border-bottom: $border solid $second-color;
          }
          &.error{
            border-bottom: $border solid $error;
            + label{
              color: $error;
            }
          }
        }
        label{
          color: $second-color;
          &.label{
            margin-left: 15px;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0;
            &.active{
              top: -12px;
              font-size: 12px;
              line-height: 12px;
              color: $divider;
            }
          }
        }
      }
    button{
      @extend %btn-second;
      font-family: $font-family;
      font-size: 1rem;
      line-height: 1.1rem;
      border: none;
      cursor: pointer;
    }
  }
}


footer{
  @extend %flex;
  background: $second-color;
  height: 70px;
  span {
    color: #fff;
  }
}
section {
  padding: 5% 0;
}
@media screen and (max-width: 768px){
  .col {
    padding: 0 1rem;
    min-height: 1px;
  }
  .hide-xs {
    display: none;
  }
  .active{
    display: block;
  }
  .header {

    &__logo img{
      width: 60px;
      padding: 7px 0;
    }
    &__menu-mobile {
      background: rgba(62, 70, 101, 0.9);
      .nav-bar{
        overflow: auto;
        span{
          padding: 14px 0;
          color: $text-color;
          font-size: $text-size - 5rem;
        }
      }
      .menu-collapse {
        padding: 0 5%;
        text-align: center;
        height: 100vh;
        margin-top: 28px;
        ul>li {
          padding: 20px;
          border-bottom: 1px solid #2c3e50;
          a{
            color: $text-color;
            font-weight: lighter;
            font-size: 1.8rem;
          }
        }
        a{
          display: block;
          color: $text-color;
          font-size: 1.2rem;
          font-family: 'Roboto';
          font-weight: lighter;
          text-align: left;
          i {
            width: 3rem;
            font-size: 1.5rem;
            text-align: center;
          }
        }
      }
    }
  }
  .home {
    h1 {
      font-size: $text-size - 2.8rem;
      margin-bottom: 30px;
    }
    h2 {
      font-size: $text-size - 4.8rem;
    }
  }

  .bg-code {
    background: #fff;
  }
  .aboutme{
    &__content {
      img {
        width: 70px;
        float: left;
      }
      .accordion {
        &__content {
          display: none;
          padding: 7px;
        }
      }
    }
  }
  .skills {
    &__row .box{
        height: auto;
    }
  }

  .portfolio {
    &__item .links {
      a {
        display: block;
      }
    }
    .owl-carousel .owl-item img {
      height: auto;
      margin-bottom: 14px;
    }
  }
}


