@import "variables";
@import 'reset';
@import "grid";
@import "skill";

//Header
.header {
  @extend %container;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(62, 70, 101, 0.78);
  &__logo img{
    width: 70px;
  }
  &__menu {
    @extend %flex;
    justify-content: space-around;
    li {
      display: inline-block;
      margin-left: 40px;
      padding: 7px 0;
    }
    a{
      color: #fff;
      font-weight: 400;
      font-size: 1.1rem;
    }
    li:hover{
      border-bottom: 4px solid $primary-color;
    }
  }
}

//Home
.home {
  background-attachment: fixed;
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;

  @extend %flex;
  flex-flow: column wrap;
  &__text {
    text-align: center;
    overflow: auto;
    padding-top: 60px;
    h1 {
      text-shadow: 5px 5px 15px $primary-color;
      margin-bottom: 70px;
    }
    h4 {
      color: $text-color;
    }
  }
}
.bg-code {
  background: url('../images/codeon.png');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
}
//About me
.aboutme {
  @extend %container;
  @extend %flex;
  flex-wrap: wrap;
  &__header {
    margin: 1.8rem 0;
    text-align: center;
  }
  &__image {
    img{
      width: 200px;
      border-radius: 50%;
    }
  }
  &__content {
    img {
      width: 75px;
      margin-right: 14px;
    }
    .accordion {
      clear:both;
      &__title {
        background-color: #2c3e50;
        color: #fff;
        cursor: pointer;
        padding: 14px;
        text-align: left;
        font-size: 14px;
        border: 1px solid #fff;
        transition: 0.4s;
        &.open {
          background: $primary-color;
        }
        &.open:after {
          content:"-";
          font-size: x-large;
        }
      }
      &__title:after{
        content: '+';
        font-size: x-large;
        float: right;
        margin-left: 5px;
        &:hover {
          background: $primary-color;
        }
      }
      &__content {
        display: none;
        padding: 20px;
        border: 1px solid $primary-color;
        overflow: auto;
        transition: max-height 0.2s ease-out;
      }
    }
  }
}

//Skills
.skills {
  @extend %container;
  background: $second-color;
  //height: 580px;
  &__row {
    .box{
      width: 280px;
      height: 350px;
      border-radius: 20px;
      //box-shadow: 8px 10px 14px -8px #cecece;
      text-align: center;
      background-color: #f4f1f1;
      padding: 30px 14px 0 14px;
      margin: 14px 28px;
      h5 {
        margin-bottom: 30px;
      }
      ul{
        @extend %flex;
        flex-wrap: wrap;
        li{
          width: 50%;
          text-align: left;
          font-weight: 400;
        }
      }
    }
  }
  .size-icon{
    font-size: 50px;
  }
}

//Portafolio
.portfolio {
  @extend %container;
  @extend %flex;
  flex-flow: wrap;
  align-items: flex-start;
  &__item {
    margin-bottom: 70px;
    a {
      @extend %btn-second;
      color: $text-color;
    }
  }
  .owl-carousel.owl-loaded {
    position: relative;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 250px;
    height:400px;
    margin: 0 auto;
  }
  .owl-theme .owl-nav {
    margin: 0;
  }
  .owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top:50%;
    color: #fff;
    padding: 4px 10px;
    background: $primary-color;
    cursor: pointer;
  }
  .owl-prev {
    left: -14px;
  }
  .owl-next {
    right: -14px;
  }

}

.contact{
  @extend %container;
  background: url(../images/p6.png);
  background-repeat: repeat;
  height: 400px;
  clear: both;
  i {
    font-size: 2rem;
    color: $second-color;
  }
  .btn {
    @extend %btn-second;
  }
}

footer{
  @extend %flex;
  background: $second-color;
  height: 70px;
  span {
    color: #fff;
  }
}

@media screen and (max-width: 768px){
  .hide-xs {
    display: none;
  }
  .active{
    display: block;
  }
  .header {
    &__logo img{
      width: 50px;
    }
    &__menu-mobile {
      span{
        color: $text-color;
        font-size: $text-size - 5rem;
      }
      ul {
        li a{
          color: $text-color;
        }
      }
    }
  }
  .home {
    h1 {
      font-size: $text-size - 2rem;
      margin-bottom: 30px;
    }
    h2 {
      font-size: $text-size - 4.8rem;
    }
  }
  .bg-code {
    background: #fff;
  }
}
