@import "variables";
@import 'reset';
@import "grid";
@import "skill";
 body {
   background: url("../images/home.jpg") center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }
%container {
  width: 100%;
  padding: 1% 5%;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
%border {
  border-top: 4px solid #3ed6bb;
  margin-top: 50px;
  padding-top: 50px;
}
//Header
.header {
  @extend %container;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #2c3e50;
  //-webkit-transition: width 2s;
  //transition: width 2s;
  &__logo img{
    width: 70px;
  }
  &__menu {
    @extend %flex;
    justify-content: space-around;
    li {
      display: inline-block;
      margin-left: 40px;
      padding: 7px 0;
    }
    a{
      color: #fff;
      font-weight: lighter;
      font-size: 1.1rem;
    }
    li:hover{
      border-bottom: 4px solid #3ed6bb;
    }
  }
  //&__scroll {
  //  background-color: #3ed6bb;
  //  a {
  //    color: #fff;
  //  }
  //  img {
  //    width: 70px;
  //  }
  //  a:hover {
  //    border-bottom: 4px solid #fff;
  //  }
  //}
}
//Main Content
.content {
  @extend %container;
}
//Home
.home {
  @extend %flex;
  flex-flow: column wrap;
  //margin-top: 50px;
  height: 100vh;
  &__text {
    h1 {  text-shadow: 5px 5px 15px #3ed6bb;}
    h1,h3 {
      font-weight: 500;
      color: #f4f1f1;
      margin-bottom: 21px;
    }
  }
}

//About me
.aboutme {
  @extend %border;
  @extend %flex;
  flex-wrap: wrap;
  &__header {
    @extend %flex;
    margin-bottom: 1.2rem;
    justify-content: space-between;
    a {
      float: right;
      color: #4285f4;
    }
  }
  &__image {
    @extend %flex;
    img{
      width: 200px;
      border-radius: 50%;
    }
  }
  &__content {
    .awards {
      @extend %flex;
      align-items: flex-start;
    }
    img {
      width: 75px;
    }
  }
}

//Skills
.skills {
  @extend %flex;
  @extend %border;
  flex-wrap: wrap;
  &__row {
    @extend %flex;
    flex-wrap: wrap;
    .box{
      width: 220px;
      height: 300px;
      border-radius: 20px;
      box-shadow: 8px 10px 14px -8px #cecece;
      text-align: center;
      background-color: #f4f1f1;
      padding: 30px 14px 0 14px;
      margin: 14px 35px;
      div{
        @extend %flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 80px;
      }
    }
  }

  .size-icon{
    font-size: 50px;
  }

  .box:hover{
    padding-top: 20px;
    background-color: #fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #8C8F98;
    -webkit-trasnsition: all .05s ease-in-out;
  }
}

//Portafolio
.portfolio {
  @extend %flex;
  @extend %border;
  flex-flow: wrap;
  align-items: flex-start;
  &__item {
    margin-bottom: 70px;
    img {
      width: 200px;
    }
  }

}
