@import "variables";
@import 'reset';
@import "grid";
%container {
  width: 100%;
  padding: 3% 5%;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
%border {
  border-top: 4px solid #4285f4;
  margin-top: 50px;
  padding-top:50px;
}
//Header
.header {
  @extend %container;
  @extend %flex;
  flex-flow: wrap;
  padding-top: 4rem;
  img {
    width: auto;
  }
  &__logo {
    @extend %flex;
    padding-bottom: 1rem;
  }
  &__search img{
    float: right;
  }
  &__navigation {
    @extend %flex;
    li {
      display: inline-block;
      margin-right: 40px;
    }
    a{
      color: #414549;
    }
  }
}
